/* You can add global styles to this file, and also import other style files */
@import "~@angular-mdl/core/scss/color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '~@angular-mdl/core/scss/material-design-lite';

@import '~@angular-mdl/popover/popover';
@import '~@angular-mdl/select/select';


@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

/* if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to landscape */
// @media (orientation: portrait) {
//   body {
//     -webkit-transform: rotate(90deg);
//     -moz-transform: rotate(90deg);
//     -o-transform: rotate(90deg);
//     -ms-transform: rotate(90deg);
//     transform: rotate(90deg);
//   }
// }

.input-full-width {
    width: 100%;
    margin: 10px auto;
}

.hint {
  color: #09b3f1;
}
