<md-toolbar color="primary">
  <md-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <span>Time {{this.timer.minutes}}:{{this.timer.seconds}}</span>
    <button (click)="logOut()">Log Out</button>
  </md-toolbar-row>

</md-toolbar>

<md-sidenav-container class="example-container" >
  <md-sidenav #sidenav class="example-sidenav">
    <table>
      <tr>
        <td>
          <button md-raised-button class="input-full-width" (click)="contactUnit('Centrumchef')">Kontakta Centrumchef</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button  class="input-full-width"(click)="contactUnit('Verksamhetschef')">Kontakta Verksamhetschef</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button class="input-full-width" (click)="contactUnit('Avledningschef')">Kontakta Avledningschef</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button class="input-full-width" (click)="contactUnit('LAS')">Kontakta LAS AVA</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button class="input-full-width" (click)="contactUnit('Skiftesledare')">Kontakta Skiftesledare</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button class="input-full-width" (click)="contactUnit('Bakjour')">Kontakta Bakjour</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button class="input-full-width" (click)="contactUnit('KiB')">Kontakta KiB</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button  class="input-full-width"(click)="contactUnit('X-Rey')">Kontakta X-Rey</button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button class="input-full-width" (click)="contactUnit('Klinikavdelning')">Kontakta Klinikavdelning</button>
        </td>
      </tr>

    </table>



  </md-sidenav>

  <div class="example-sidenav-content">

        <table>
          <tr>
            <td>
              <div *ngIf="user">
                {{user.name}}
                {{user.role}}

              </div>

              <div *ngFor="let team of game.teams">
                {{team.team.name}}
              </div>




              <!--For LEADER-->
              <button [hidden]="hideDebrifButton" md-raised-button  (click)="debriefAction()">Debriefing</button>


              <!--For LEADER-->
              <button  md-raised-button [hidden]="hideCallButton" md-button (click)="sidenav.open()">
                    Kontakta Andra Aktörer
              </button>



            </td>
            <td>
              <!--<img class="hospital_map" src="../assets/hospital_map.png">-->
              <svg #hospital_map width="600" height="450" xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                  <title>Hospital Map</title>
                  <image xlink:href="../assets/hospital_map.png"
                         id="map_svg" height="450" width="600" (click)="mapClick($event)" />
                </g>
                <!--show leader figure-->
                <text [attr.x]="game.leader.location.x" [attr.y]="game.leader.location.y" fill="blue" font-size="8" *ngIf="game.leader && game.leader.role=='LEADER'">{{game.leader.role}}</text>

                <!--show teams figures-->
                <!--<text [attr.x]="nurseImg.x" [attr.y]="nurseImg.y" fill="blue" font-size="8" *ngIf="user && user.role=='NURSE'">{{user.team.name}}</text>-->

                <g *ngFor="let team of game.teams">

                   <text [attr.x]="team.team.x" [attr.y]="team.team.y" fill="blue" font-size="8" >{{team.team.name}}</text>
                </g>


                <!--show patients at ED before the accident-->
                <g *ngFor="let patientEd of patientsAtED">
                  <image xlink:href=""   [attr.xlink:href]="patientEd.imgUrl"
                          height="16" width="16"[attr.x]="patientEd.coordinates.x"  [attr.y]="patientEd.coordinates.y"  />
                  <text [attr.x]="patientEd.coordinates.x +4" [attr.y]="patientEd.coordinates.y+10"  font-size="8" (click)="patientEdClick($event,patientEd.identificator)"  >{{patientEd.identificator}}</text>
                </g>


              </svg>

            </td>

          </tr>

        </table>

  </div>

</md-sidenav-container>




