.gamemap {
  background-image: url(../../assets/img/hospitalmap.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  bottom: 0;
}
