<h1 md-dialog-title>Move {{identificator}} to: </h1>
<div md-dialog-actions>
  <table>
    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('iva')">IVA</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('x-ray')">X-Ray</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('operation')">Operation</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('ava')">AVA</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('vard')">Vård</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('jourläkarcentral')">Jourläkarcentral</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('waitED')">Vänta i ED</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('corridor')">Corridor</button>
      </td>
    </tr>

    <tr>
      <td>
        <button md-button md-raised-button (click)="dialogRef.close('home')">Home</button>
      </td>
    </tr>

  </table>



</div>
