<h1 md-dialog-title>Move {{identificator}} to: </h1>
<div md-dialog-actions>
  <button md-button md-raised-button (click)="dialogRef.close('iva')">IVA</button>
  <button md-button md-raised-button (click)="dialogRef.close('x-ray')">X-Ray</button>
  <button md-button md-raised-button (click)="dialogRef.close('operation')">Operation</button>
  <button md-button md-raised-button (click)="dialogRef.close('ava')">AVA</button>
  <button md-button md-raised-button (click)="dialogRef.close('vard')">Vård</button>
  <button md-button md-raised-button (click)="dialogRef.close('jourläkarcentral')">Jourläkarcentral</button>
  <button md-button md-raised-button (click)="dialogRef.close('waitED')">Vänta i ED</button>
  <button md-button md-raised-button (click)="dialogRef.close('corridor')">Corridor</button>
  <button md-button md-raised-button (click)="dialogRef.close('home')">Home</button>
</div>
