.a-header-image{
  background-image: url('assets/Letter-A-blue-icon.png');
  background-size: cover;
}


.b-header-image{
  background-image: url('assets/Letter-B-blue-icon.png');
  background-size: cover;
}

.c-header-image{
  background-image: url('assets/Letter-C-blue-icon.png');
  background-size: cover;
}

.d-header-image{
  background-image: url('assets/Letter-D-blue-icon.png');
  background-size: cover;
}

.e-header-image{
  background-image: url('assets/Letter-E-blue-icon.png');
  background-size: cover;
}

.title{
  fill:blue;
  font-weight: bold;
}

