<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h3>Sign Up or Sign in</h3>
    <form [formGroup]='loginForm'>
      <p>
        <mdl-textfield label="First Name" type="text"
          formControlName="name" floating-label></mdl-textfield>
      </p>
      <p>
        <mdl-textfield label="Last Name" type="text"
          formControlName="surname" floating-label></mdl-textfield>
      </p>

      <button (click)="onSubmit()" type="button"
        mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
        Sign In
      </button>
    </form>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
