<div class="page-login">

  <md-card class="login-card">

    <h3>Are you prepared?</h3>

    <md-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">

        <!--User Name-->
          <md-input-container class="input-full-width">
            <input mdInput placeholder="Name" formControlName="name">
          </md-input-container>
        <!--User Surname-->
          <md-input-container class="input-full-width">
            <input mdInput placeholder="Surname" formControlName="surname">
          </md-input-container>
        <!--Game Scenario-->
          <md-select placeholder="Select Game Scenario" formControlName="scenario" class="input-full-width">
            <md-option *ngFor="let s of scenarios" [value]="s._id">
                 {{s.name}}
            </md-option>
          </md-select>

        <button mdl-button mdl-button-type="raised" mdl-colored="primary"
          mdl-ripple type="submit" class="input-full-width">
          Log In
        </button>
      </form>

    </md-card-content>
  </md-card>
</div>
