

<h3 class="title">Welcome {{name}}, please select Your Role:</h3>

<div class="roles">
  <!--LEADER CARD-->
<md-card class="role-card">
  <md-card-header>
    <img md-card-image src="../assets/leader_square.png">
    <h4>LEADER</h4>
  </md-card-header>
  <md-card-content>
    Takes disicions about the allocation of resources.
      Decides which team (nurse+doctor) will take care
      of the patient and in which room.
  </md-card-content>

  <md-card-actions>
    <small class="hint" *ngIf="leader_disabled">This game already has a leader</small>
    <button mdl-button mdl-button-type="raised" mdl-colored="primary" [disabled]="leader_disabled"
      mdl-ripple  (click)="setRole('LEADER');" class="input-full-width">
      Select Leader
    </button>
  </md-card-actions>
</md-card>

<!--NURSE CARD-->
<md-card class="role-card">
  <md-card-header>
    <img md-card-image src="../assets/nurse_triangle.png">
    <h4>NURSE</h4>
  </md-card-header>

  <md-card-content>
      Provides a treatment to a patient.
  </md-card-content>

  <md-card-actions>

    <button mdl-button mdl-button-type="raised" mdl-colored="primary"
      mdl-ripple  (click)="setRole('NURSE');" class="input-full-width">
      Select Nurse
    </button>
  </md-card-actions>
</md-card>

<!--RESERVED NURSE CARD-->
<md-card class="role-card">
  <md-card-header>
    <img md-card-image src="../assets/nurse_triangle.png">
    <h4>RESERVED NURSE</h4>
  </md-card-header>

  <md-card-content>
      Provides a treatment to a patient.
      Called by a leader as additional resource
      to handle a catastrophic situation.
  </md-card-content>

  <md-card-actions>
    <button mdl-button mdl-button-type="raised" mdl-colored="primary"
      mdl-ripple  (click)="setRole('RESERVED_NURSE');" class="input-full-width">
      Select Reserve Nurse
    </button>
  </md-card-actions>
</md-card>

</div>
